<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>


</body>

<h2>Owner information</h2>
<table class="table table-striped" th:object="${owner}">
    <tr>
        <th>Name</th>
        <td>
            <b th:text="*{firstName + ' ' + lastName}"></b>
        </td>
    </tr>

    <tr>
        <th>Address</th>
        <td>
            <b th:text="*{address}"></b>
        </td>
    </tr>

    <tr>
        <th>Telephone</th>
        <td>
            <b th:text="*{telephone}"></b>
        </td>
    </tr>
</table>

<a th:href="@{{id}/edit(id=${owner.id})" class="btn btn-primary">Edit owner</a>
<a th:href="@{{id}/pets/new(id=${owner.id})}" class="btn btn-primary">Add new pet</a>

<br/>
<br/>
<br/>
<h2>Pets and visits</h2>

<table class="table table-striped">
    <tr th:each="pet: ${owner.pets}">
        <td valign="top">
            <dl class="dl-horizontal">
                <dt>Name</dt>
                <dd th:text="${pet.name}"></dd>
                <dt>Birth date</dt>
                <dd th:text="${#temporals.format(pet.birthDate, 'yyyy-MM-dd)}"></dd>
                <dt>Type</dt>
                <dd th:text="${pet.type}"></dd>
            </dl>
        </td>
        <td valign="top">
            <table class="table-condensed">
                <thead>
                    <th>Visit date</th>
                    <th>Description</th>
                </thead>
                <tr th:each="visit: ${pet.visits}">
                    <td th:text="${#temporals.format(visit.date, 'yyyy-MM-dd')}"></td>
                    <td th:text="${visit.description}"></td>
                </tr>

                <tr>
                    <td>
                        <a th:href="@{{ownerId}/pets/${petId}/edit(ownerId=${owner.id}, petId=${pet.id})}">Edit pet</a>
                    </td>
                    <td>
                        <a href="@{{ownerId/pets/{petId}/visits/new(ownerId=${owner.id}, petId=${pet.id})}">Add visit</a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>

</html>