<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"  th:replace="~{fragments/layout :: layout (~{::body}, 'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="guru.springframework.sfgpetclinic.models.Owner"*/-->
    <h1 th:text="'List of Owners'">List of Owners</h1>
    <table id="owners" class="table table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>First name</th>
                <th>Last name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner: ${owners}">
                <td th:text="${owner.id}">1</td>
                <td th:text="${owner.firstName}">Joe</td>
                <td th:text="${owner.lastName}">Buckingham</td>
            </tr>
        </tbody>
    </table>
</body>
</html>